
  <%- include('../partials/head'); %>

  <style> 
    input {
      width: 15%;
    }
    </style>

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
       <div class="questions-box">
                 
        <% if (image_src) { %>
          <img src="<%= image_src %>" />
         <% } %>
       </div> 
        <form action="/generate" method="post">
          <button class="Generate" type="submit">Generate</button>
           
          
           
          
                     
          
        </form>
        <label for="Answer" class="answer">Answer</label>
        <input class="Answer" type="text" id="Answer" name="Answer">
        <form action="/reveal" method="post">
          <button class="reveal-answer" type="submit">Reveal answer</button>
          <div class="print-answer">
            <% if (answer) { %>
            <%= answer %>
           <% } %></div>
        </form><br>
        <button class="Reveal-solution" type="submit">Reveal solution</button>
        <a href="/Leaderboard"><button class="Leaderboards" type="submit">Leaderboards</button></a>
        <button class="Saved-questions" type="submit">Saved questions</button>
        <button class="Daily-question" type="submit">Daily question</button>
        
      </div>
    </div>
  </div>
  </div>
</main>

  <%- include('../partials/footer'); %>
